.cards {
  display: grid;
  @include grid(repeat(5, 1fr), 30px);

  .card {
    @include flex(center, none, center);

    img {
      width: 60px;
      margin-right: $md;
    }
  }
}
@media screen and (max-width: 800px) {
    .cards{
     display: grid;
     grid-template-columns: repeat(3,1fr);
     gap: 20px;
    }
}
@media screen and (max-width: 500px) {
  .cards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
   }
}
@media screen and (max-width: 400px) {
  .cards{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
   }
}